body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.0);
  margin: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.score-container{
 position:relative;
 'height:474px;
 'width:1761px;
}
#scoreA{
  position:absolute;
  top:-42px;
  left:254px;
  font-size: 50px;
  color: black;
  font-family:Arial, sans-serif;
  transform:translate(-50%, -50%);
}
#scoreB{
  position:absolute;
  top:-42px;
  left:334px;
  font-size: 50px;
  color: black;
  font-family:Arial, sans-serif;
  transform:translate(-50%, -50%);
}
#teamA{
  position:absolute;
  white-space: nowrap;
  top: -62px;
  left: 20px;
  font-size: 40px;
  color: white;
  font-family:Arial, sans-serif;
}
#teamB{
  position:absolute;
  white-space: nowrap;
  top:-62px;
  left:385px;
  font-size: 40px;
  color: white;
  font-family:Arial, sans-serif;
}
#matchTime{
  position:absolute;
  white-space: nowrap;
  top:15px;
  left:80px;
  font-size: 50px;
  color: white;
  font-family:Arial, sans-serif;
}
#setTime{
  position:absolute;
  white-space: nowrap;
  top:15px;
  left:400px;
  font-size: 50px;
  color: white;
  font-family:Arial, sans-serif;
}
       
